@model IEnumerable<MVCClient.Models.Activities>

@{
    ViewData["Title"] = "Index";
}

<h1>Activities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Activities" asp-action="Index">
    <p>
        Search: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Activity Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivitiesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivitiesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivitiesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
